{% extends "base.html" %}

{% block raw_content %}

<div class="container-fluid">
	<div class="row-fluid">
		<div class="span2 well">
			{% block sidebar %}
			{% include "facebook/sidebar.html" %}
			{% endblock %}
		</div>
		<div class="span10 well">
			{% block content %}
			{% endblock %}
		</div>
	</div>
</div>

{% endblock %}