{% extends "base.html" %}
{% load i18n %}
{% block content %}


<div class="well offset3 span4">
	<h3>{% trans "Loading" %}:</h3>
	<p>
		{% trans "It can take a whale or two." %}
	</p>

	<div class="progress progress-success">
		<div class="bar" style="width: {{sync.percentage}}%;">{{sync.percentage}}%</div>
	</div
</div>

{% endblock %}
