{% extends "base.html" %}
{% load i18n %}


{% block content %}
	<div class="well span4 offset3">
		<a rel="nofollow" href="{% url socialauth_begin "facebook" %}"><img src="{{STATIC_URL}}img/facebook_login.png" /></a>
		
	</div>
	
	<div class="well offset3 span4">
		<h3>{% trans "Privacy policy" %}:</h3>
		<ol>
			<li>{% trans "Your data will not be provided to anyone" %}</li>
			<li>{% trans "Your data will be deleted on your request" %}</li>
			<li>{% trans "Your data will be optained to you if you ask" %}</li>			
		</ol>
	</div>
	<div class="well offset3 span4">
		<h3>{% trans "Why you should try TrendYou?" %}</h3>
		<ol>
			<li>{% trans "You can read all your Facebook messages" %}</li>
			<li>{% trans "You can download all your Facebook messages" %}</li>
			<li>{% trans "It´s free and it will stay free" %}</li>			
		</ol>
	</div>
	
	
{% endblock %}
