{% load i18n %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>TrendYou</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="">
		<meta name="author" content="Visgean Skeloru">
		<script src="{{ STATIC_URL }}js/d3.v2.min.js"></script>
		<link href="{{ STATIC_URL }}css/bootstrap.css" rel="stylesheet">
		<link href="http://twitter.github.com/bootstrap/assets/css/bootstrap-responsive.css" rel="stylesheet">
		<script type="text/javascript" charset="utf-8" src="{{ STATIC_URL }}js/jquery-1.7.2.min.js"></script>
		<script type="text/javascript" charset="utf-8" src="{{ STATIC_URL }}js/bootstrap.js"></script>
		<style type="text/css">
			body {
				padding-top: 60px;
				padding-bottom: 40px;
			}
		</style>

		{% block extrahead %}
		{% endblock %}

	</head>

	<body>

		<div class="navbar navbar-fixed-top">
			<div class="navbar-inner">
				<div class="container">
					<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"> </a>
					<a class="brand" href="/">TrendYou</a>
					{% if user.is_authenticated %}
						<div class="btn-group pull-right">
							<a href="#" data-toggle="dropdown" class="btn dropdown-toggle"> <i class="icon-user"></i> {{user}} <span class="caret"></span> </a>
							<ul class="dropdown-menu">
								<li>
									<a href="#"> {% trans "Profile" %} </a>
								</li>
								<li class="divider"></li>
								<li>
									<a href="{% url auth_logout %}"> {% trans "Log out" %} </a>
								</li>
							</ul>
						</div>
					{% endif %}
				</div>
			</div>
		</div>
		{% block raw_content %}
			<div class="container">
				{% block content %}
	
				{% endblock %}
			</div>
		<!-- /container -->
		{% endblock %}


	</body>
</html>
