{% extends "facebook/base.html" %}
{% load i18n %}


{% block content %}
<table>
	<tr>
		<th>{% trans "Date" %}</th>
		<th>{% trans "Author" %}</th>
		<th>{% trans "Message" %}</th>
	</tr>
	
	{% for message in fmessages %}
		<tr>
			<td>{{ message.date }}</td>
			<td>{{ message.author.name }}</td>
			<td>{{ message.text }}</td>			
		</tr>
	{% endfor %}
</table>

{% for page in paginator.page_range %}
    <a href="?page={{ page }}">{{page}}</a>
{% endfor %}
{% endblock %}
