{% extends "facebook/base.html" %}
{% load i18n %}

{% block content %}

<table>
	<tr>
		<th>{% trans "Participants" %}</th>
		<th>{% trans "#" %}</th>
		<th>{% trans "Date of last message" %}</th>
	</tr>
	
	{% for thread in threads %}
		<tr>
			<td> 
				<a href="{% url thread_read uid=thread.id %}">
				{% if thread.participants|length > 4 %}
					{% for p in thread.participants|slice:":3" %}
						{{p.username}},
					{% endfor %} {% trans "And some others.." %}
				{% else %}
					{% for p in thread.participants %}
						{{p.username}}
					{% endfor %}
				{% endif %}
				</a>
			</td>
			<td>{{ thread.count }}</td>
			<td>{{ thread.latest.created_time }}</td>			
		</tr>
	{% endfor %}
</table>
{% endblock %}
